/* Fix for responsive images */
img {
  max-width: 100%;
}

/* Color Theme Swatches in Hex */
.Flat-UI-1-hex { color: #292d48; }
.Flat-UI-2-hex { color: #E64B3B; }
.Flat-UI-3-hex { color: #EBEFF0; }
.Flat-UI-4-hex { color: #3497DB; }
.Flat-UI-5-hex { color: #2880B8; }

/* Color Theme Swatches in RGBA */
.Flat-UI-1-rgba { color: rgba(43, 61, 79, 1); }
.Flat-UI-2-rgba { color: rgba(230, 75, 59, 1); }
.Flat-UI-3-rgba { color: rgba(235, 239, 240, 1); }
.Flat-UI-4-rgba { color: rgba(52, 151, 219, 1); }
.Flat-UI-5-rgba { color: rgba(40, 128, 184, 1); }

/* Color Theme Swatches in HSLA */
.Flat-UI-1-hsla { color: hsla(210, 29, 23, 1); }
.Flat-UI-2-hsla { color: hsla(5, 77, 56, 1); }
.Flat-UI-3-hsla { color: hsla(191, 14, 93, 1); }
.Flat-UI-4-hsla { color: hsla(204, 69, 53, 1); }
.Flat-UI-5-hsla { color: hsla(203, 64, 43, 1); }

/* ----------------------------------------
Base Styles
------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background-color: #EBEFF0;
  color: #EBEFF0;
}
p {
  font-family: 'Prata', serif;
  -webkit-font-smoothing: antialiased;
}
h1{
  font-size: 72px;
  /* font-family: 'Lobster', cursive; */
}
h2 {
  font-size: 42px;
  letter-spacing: 0.2em;
  /* font-family: 'Lobster', cursive; */
}
h3 {
  font-size: 32px;
  /* font-family: 'Lobster', cursive; */
}
a, a:hover {
  text-decoration: none;
}

/* ----------------------------------------
Nav
------------------------------------------- */
nav, .nav2 nav{
  background-color: #EBEFF0;
  opacity: .7;
  position: fixed;
	top: 0;
  left: 0;
	right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}
.main_nav {
  display: none;
}
.menu li {
  padding-top: 10px;
}
nav ul {
  list-style:none;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: all .3s ease-in-out;
}
nav li {
  display: inline-block;
}
nav a, .nav2 nav a {
  text-decoration: none;
  display: inline-block;
  border-bottom: none;
  text-transform: uppercase;
  padding: 5px;
  color: #292d48;
}
nav a:hover, .nav2 nav a:hover {
  color: #E64B3B;
  cursor: pointer;
}
#hamburger {
  display: none;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
#hamburger i {
  color: #292d48;
}
#hamburger i:hover {
  color: #E64B3B;
}
.nav2 ul {
  list-style:none;
  display: none;
  background-color: #EBEFF0;
  margin: 0 auto;
  padding: 0;
}
.nav2 li {
  display: block;
}
.block {
  display: block;
}
nav img {
  max-height: 40px;
}
/* ----------------------------------------
Header
------------------------------------------- */
header {
  padding-top: 100px;
  height: 100vh;
  width: 100%;
  background-color: #EBEFF0;
  color: #292d48;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('../img/florian-klauer-489-unsplash.jpg'); */
  /* background-image: url('../img/isaac-benhesed-249427-unsplash.jpg'); */
  /* background-image: url('../img/joe-woods-739738-unsplash.jpg'); */
  /* background-image: url('../img/osman-rana-293978-unsplash.jpg'); */
  /* background-image: url('../img/thomas-heintz-769574-unsplash.jpg'); */
  /* background-image: url('../img/bernard-hermant-591275-unsplash.jpg'); */
  background-image: url('../img/carli-jeen-430-unsplash.jpg');
  /* background-image: url('../img/tim-mossholder-571646-unsplash.jpg'); */
  /* background-image: url('../img/waldemar-brandt-1259291-unsplash.jpg'); */
  /* background-image: linear-gradient(rgba(43, 61, 79, 0.2), rgba(43, 61, 79, 0.2)), url("../img/carli-jeen-430-unsplash.jpg"); */ */
  background-attachment: fixed;
  position: relative;
}
#title {
  margin: 0 40%;
  position: absolute;
  top: 30%;
  /* left: 50%; */
}
#title h1 {
  font-family: 'Open Sans', sans-serif;
  line-height: .6;
  font-size: 84px;
  text-align: left;
  padding-top: 15px;
  margin-left: 100px;
  position: relative;
}
#logo {
  /* max-width: 150px; */
  max-height: 150px;
  max-width: 150px;
  position: absolute;
  left: -100px;
  transition: all 1s ease-in-out;
}
#logo:hover {
  transform: rotate(360deg);
}
#subtitle_wrapper {
  width:auto;
  overflow: hidden;
  position: absolute;
  left: 50%;
  bottom: 25%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#subtitle {
  font-family: 'Inconsolata', serif;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 48px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #292d48; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blinking-cursor .5s step-end 30;
}
#learn_more {
  background-color: #292d48;
  color: #EBEFF0;
  font-size: 24px;
  /* border: solid 2px #EBEFF0; */
  position: absolute;
  left: 50%;
  bottom: 5%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#learn_more a{
  color: #EBEFF0;
  /* font-family: 'Lobster', cursive; */
}
#learn_more:hover {
  background-color: #3497DB;
}
.style_btn {
  background-color: #EBEFF0;
  color: #292d48;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  border: none;
  /* font-family: 'Lobster', cursive; */
}
.style_btn a {
  color: #292d48;
}
.style_btn:hover {
  /* background-color: #18d8fa; */
  background-color: #3497DB;
  border: none;
}
.style_btn:hover a{
  color: #EBEFF0 !important;
}

/* ----------------------------------------
Services
------------------------------------------- */
#services {
  background-color: #292d48;
  padding: 100px 50px;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
}
#services button {
  margin: 0 auto;
}
.service_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.service {
  padding: 15px;
  width: 30%;
}
.service p {
  padding-top: 10px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.service i {
  font-size: 24px;
  padding: 10px;
}
.service h3 {
  letter-spacing: 0.2em;
}
/* .get-started {
  padding: 5px 50px;
} */
.service_sep hr{
  display: none;
  border: 1px solid #EBEFF0;
}
/* .active-service {
  font-size: 1.2em;
} */

/* ----------------------------------------
Capabilities
------------------------------------------- */

.carousel-inner {
  width: 100%;
  max-height: 100vh;
}
.carousel-img-bg {
  opacity: .4;
}
.carousel-caption {
  top: 25%;
  color: #292d48;
  bottom: auto;
}
/* .carousel-caption h2 {
  letter-spacing: 0.5em;
} */
.carousel-caption p {
  font-size: 22px;
  color: #292d48;
}

/* ----------------------------------------
About
------------------------------------------- */
#about {
  color: #EBEFF0;
  /* padding: 100px 200px; */
  display: flex;
  justify-content: space-between;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #3497DB;
}
.about-info {
  /* justify-content: space-around; */
  /* padding: 100px; */
  padding-top: 100px;
  width: 60%;
}
.about-info p {
  font-size: 24px;
  padding: 50px 100px;
  margin: 0 auto;
}
.about-pic {
  /* justify-content: space-around; */
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(40, 128, 184, 0.6), rgba(40, 128, 184, 0.6)), url("../img/naxos.jpg");
}

/* ----------------------------------------
Work
------------------------------------------- */
#work {
  font-family: 'Lobster', cursive;
  background-color: #EBEFF0;
  color: #292d48;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/joe-woods-739738-unsplash.jpg');
  background-attachment: fixed; */
  padding: 50px;
}

#work h2 {
  padding: 50px;
  font-size: 63px;
}

#work a {
  color: #EBEFF0;
}
#work a:hover {
  color: #3497DB;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 2px solid #292d48;
  top: 50%;
  width: 50%;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
/* #work_desc {
  padding: 50px 400px;
} */
.work_container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  background-color: #292d48;
  color: #EBEFF0;
  /* padding: 100px 200px; */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.project_container {
  /* padding: 50px; */
  width: 50%;
}
.project_info {
  position: absolute;
  padding: 50px;
  margin: 0 auto;
  top: 25%;
  display: none;
  z-index: 10;
}
.project {
  position: relative;
  background: rgba(41, 45, 72, 0);
}
.project img {
  /* border-radius: 50px; */
  width: 100%;
}
.project img:hover {
  opacity: 0.2;
}
.project:hover img {
  opacity: 0.2 !important;
}
.project:hover .project_info {
  display: block !important;
}

/* ----------------------------------------
Sell
------------------------------------------- */
#sell {
  width: 100%;
  padding: 100px;
  color: #EBEFF0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-image: url('../img/joe-woods-739738-unsplash.jpg'); */
  /* background-image: url('../img/osman-rana-293978-unsplash.jpg'); */
  /* background-image: url('../img/thomas-heintz-769574-unsplash.jpg'); */
  /* background-image: url('../img/bernard-hermant-591275-unsplash.jpg'); */
  /* background-image: url('../img/carli-jeen-430-unsplash.jpg'); */
  background-image: url('../img/tim-mossholder-571646-unsplash.jpg');
  /* background-image: url('../img/waldemar-brandt-1259291-unsplash.jpg'); */
  background-image: linear-gradient(rgba(40, 128, 184, 0), rgba(40, 128, 184, 0.6)), url("../img/tim-mossholder-571646-unsplash.jpg"); */
}


/* #sell button {
  background-color: #3497DB;
  color: #EBEFF0;
}
#sell a {
  color: #EBEFF0;
}

#sell button:hover {
  background-color: #292d48;
  color: #EBEFF0;
}
#sell a:hover {
  color: #EBEFF0;
} */


/* ----------------------------------------
Footer
------------------------------------------- */

footer {
  background-color: #292d48;
  color: #EBEFF0;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
  overflow: auto;
}
.copyright {
  padding: 10px;
}

#personalDetails {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#personalDetails i {
  font-size: 36px;
  padding: 10px;
  color: #EBEFF0;
}
#personalDetails i:hover {
  color: #E64B3B;
}

/* ----------------------------------------
Typing
------------------------------------------- */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: #292d48 }
}

/* ----------------------------------------
Media Queries
------------------------------------------- */
@media screen and (max-width: 1500px) {
  .about-info p {
    font-size: 18px;
  }
  #title {
    margin: 0 35%;
  }
}
@media screen and (max-width: 1400px) {
  #subtitle {
    font-size: 42px;
  }
  .about-info {
    padding-top: 50px;
  }
  .project_info {
    top: 0%;
  }
  #services {
    padding: 100px;
  }
}
@media screen and (max-width: 1200px) {
  #subtitle {
    font-size: 34px;
  }
  .about-info p {
    padding: 10px 50px;
    font-size: 16px;
  }
  .about-info {
    padding-top: 25px;
  }
  .project_info {
    padding: 25px;
  }
  .project_info h3{
    font-size: 24px;
  }
  .project_info h4 {
    font-size: 18px;
  }
  .project_info p{
    font-size: 14px;
  }
  #services {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 1000px) {
  #about h2{
    font-size: 36px;
  }
  .about-info {
    padding-top: 10px;
  }
  .about-info p{
    padding: 10px 25px;
  }
  #services {
    padding: 50px 15px;
  }
  #services h3{
    font-size: 32px;
  }
  .service {
    padding: 10px;
  }
}
@media screen and (max-width: 930px) {
  #title {
    margin: 0 25%;
  }
  #hamburger {
    display: block;
  }
  .about-pic {
    display: none;
    width: 0%;
  }
  .about-info {
    width: 100%;
    padding-top: 200px;
    /* background-repeat: no-repeat;
    background-size: cover; */
    background: linear-gradient(rgba(52, 151, 219,0.8), rgba(52, 151, 219,0.8)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    min-height: 100vh;
    /* background-attachment: fixed; */
  }
  .about-info p {
    font-size: 24px;
    padding: 25px 50px;
    margin: 0 auto;
  }
  #about h2{
    font-size: 48px;
  }
  #about {
    background: url('../img/naxos.jpg');
  }
  .work_container {
    display: block;
    margin: 0 auto;
  }
  .project_container {
    width: 100%;
  }
  .project_info {
    padding: 50px;
    top: 25%;
  }
  .project_info h3{
    font-size: 36px;
  }
  .project_info h4 {
    font-size: 24px;
  }
  .project_info p{
    font-size: 18px;
  }
  .carousel-caption{
    top: 25%;
  }
  .carousel-caption p {
    display: none;
  }
  /* .carousel-caption h2 {
    font-size: 24px;
  } */
  .d-md-block {
    display: block!important;
  }
  #services {
    padding: 50px;
  }
  #services h3{
    font-size: 36px;
  }
  .service {
    padding: 10px;
    width: 100%;
  }
  .service p{
    font-size: 24px;
  }
  .service_container{
    display: block;
  }
  .service_sep hr{
    display: block;
  }
  #sell h1 {
    font-size: 56px;
  }
}
@media screen and (max-width: 725px) {
  .project_info {
    top: 0%;
    /* padding: 25px; */
  }
  #work {
    margin: 25px 10px 10px 0px;
  }
  #title {
    margin: 0 20%;
    top: 20%;
  }
  #subtitle {
    animation: none;
    border-right: none;
    overflow: auto;
    white-space: normal;
  }
  #subtitle_wrapper {
    left:auto;
    transform: none;
    -webkit-transform: none;
    margin: 10px;
  }
  .fancy span:after, .fancy span:before {
    border-bottom: none;
    margin: 0 auto;
  }
  #sell h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 600px) {
  #title {
    margin: 0 15%;
  }
  #title h1 {
    line-height: .6;
    font-size: 72px;
  }
  #logo {
    left: -75px;
  }
  #work h2 {
    font-size: 48px;
  }
  #sell h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .project_info {
    padding: 25px;
  }
  .project_info h3{
    font-size: 24px;
  }
  .project_info h4 {
    font-size: 18px;
  }
  .project_info p{
    font-size: 14px;
  }
  #title {
    margin: 0 10%;
  }
  #sell h1 {
    font-size: 36px;
  }
}

@media screen and (max-width: 460px) {
  #title h1 {
    font-size: 60px;
  }
}
